@model BandSite.Models.Implementations.Album
<h3>Are you sure you want to delete this?</h3>
<br>
<fieldset>
    <legend>Album</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Published)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Published)
    </div>
    <br>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field" style="text-align: justify;">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<br>
<div style="display: inline-block;"  data-nav-action-type="show" data-item-id="@(Model.Id)" data-entity-type="album" data-related-entity-type="song"></div>
<br>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="" />
    </p>
}
