@model IEnumerable<BandSite.Models.Implementations.Album>
<table>
    <tr>
        <td>
            <label class="editor-label">@Html.DisplayNameFor(model => model.Title)</label>
        </td>
        <td>
            <label class="editor-label">@Html.DisplayNameFor(model => model.Published)</label>
        </td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
        <td>
            <div id="edit_@item.Id" data-entity-type="album" data-nav-action-type="edit" data-item-id="@item.Id"></div>
            <div id="details_@item.Id" data-entity-type="album" data-nav-action-type="details" data-item-id="@item.Id"></div>
            <div id="delete_@item.Id" data-entity-type="album" data-nav-action-type="delete" data-item-id="@item.Id"></div>
            <div style="clear:both; visibility:hidden;"></div>
        </td>
    </tr>
}
</table>
