@model IEnumerable<BandSite.Models.Implementations.Song>
<table>
    <tr>
        <td>
            <label class="editor-label">@Html.DisplayNameFor(model => model.Title)</label>
        </td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <div>
                <div class="float-left" style="width: 150px;">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="SongId" value="@item.Id"/>
                    <input type="hidden" name="AlbumId" value="@ViewBag.AlbumId"/>
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
                <div class="float-left buttons">
                    <div id="details_@item.Id" data-entity-type="song" data-nav-action-type="details" data-item-id="@item.Id"></div>
                </div>
                <div style="clear:both; visibility:hidden;"></div>
            </div>
        </td>
    </tr>
}
</table>

