@model BandSite.Models.ViewModels.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword)
            <div>@Html.TextBoxFor(m => m.OldPassword, new {@class = "form-control", type = "password"})</div>
        </div>
        <div class="form-group">
             @Html.LabelFor(m => m.NewPassword)
            <div>@Html.TextBoxFor(m => m.NewPassword, new {@class = "form-control", type = "password"})</div>
        </div>   
        <div class="form-group">
             @Html.LabelFor(m => m.ConfirmPassword)
            <div>@Html.TextBoxFor(m => m.ConfirmPassword, new {@class = "form-control", type = "password"})</div>
        </div>     
        <input type="submit" value="Change" class="btn btn-primary"/>
    </fieldset>
}
