@model BandSite.Models.ViewModels.CRUDAlbumModel

<div class="container">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.Title, new {@class = "control-label"})
            @Html.TextBoxFor(model => model.Title, new {@class = "form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Published, new {@class = "control-label"})
            @Html.TextBoxFor(model => model.Published, new {type="date", @class = "form-control"})
        </div> 
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new {@class = "control-label"})
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control"})
        </div>
        <div class="form-group">
            <input type="submit" value="Ok" class="btn btn-primary"/>
        </div>
    }
</div>
